{% liquid
  assign description_product = product
  if description_product == blank
    assign description_product = closest.product
  endif

  assign mf = description_product.metafields.rc

  assign has_metafield_content = false
  if mf.tout_savoir != blank or mf.caracteristiques != blank or mf.points_fort != blank or mf.livraison_retours != blank or mf.fabrication_rigoureuse != blank or mf.garantie_2_ans != blank
    assign has_metafield_content = true
  endif

  assign show_component = false
  if has_metafield_content or description_product.description != blank or default_livraison != blank or default_fabrication != blank or default_garantie != blank
    assign show_component = true
  endif
%}

{% if show_component %}
  {% capture tout_savoir_html %}
    {% if mf.tout_savoir != blank %}
      {{ mf.tout_savoir | metafield_tag }}
    {% endif %}
  {% endcapture %}

  {% capture caracteristiques_html %}
    {% if mf.caracteristiques != blank %}
      {{ mf.caracteristiques | metafield_tag }}
    {% endif %}
  {% endcapture %}

  {% capture points_fort_html %}
    {% if mf.points_fort != blank %}
      {{ mf.points_fort | metafield_tag }}
    {% endif %}
  {% endcapture %}

  {% capture livraison_html %}
    {% if mf.livraison_retours != blank %}
      {{ mf.livraison_retours | metafield_tag }}
    {% else %}
      {{ default_livraison }}
    {% endif %}
  {% endcapture %}

  {% capture fabrication_html %}
    {% if mf.fabrication_rigoureuse != blank %}
      {{ mf.fabrication_rigoureuse | metafield_tag }}
    {% else %}
      {{ default_fabrication }}
    {% endif %}
  {% endcapture %}

  {% capture garantie_html %}
    {% if mf.garantie_2_ans != blank %}
      {{ mf.garantie_2_ans | metafield_tag }}
    {% else %}
      {{ default_garantie }}
    {% endif %}
  {% endcapture %}

  <div
    class="rc-product-desc"
    data-rc-product-desc
    {% if has_metafield_content %}
      data-rc-product-desc-mode="metafields"
    {% endif %}
  >
    {% if description_product.description != blank %}
      <div class="rc-product-desc__source rte" hidden data-rc-product-desc-source>
        {{ description_product.description }}
      </div>
    {% endif %}

    <script type="application/json" data-rc-product-sections>
      {
        "tout_savoir": {{ tout_savoir_html | strip | json }},
        "caracteristiques": {{ caracteristiques_html | strip | json }},
        "points_fort": {{ points_fort_html | strip | json }},
        "livraison_retours": {{ livraison_html | strip | json }},
        "fabrication_rigoureuse": {{ fabrication_html | strip | json }},
        "garantie_2_ans": {{ garantie_html | strip | json }}
      }
    </script>
  </div>
{% endif %}
